html, button, input, select, textarea{
    color: #444;
}

html{
    font-size: 1em;
    line-height: 1.4;
}

article, dl, footer{
    padding: 5px;
}

#wrapper{
    max-width: 900px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;   
}

header{
    background-color: grey;
    padding: 5px;;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: alibaba-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#title {
    max-width: 75%;
}
#container {
    display: flex;
    justify-content: space-between;
}
